{
  "postgres":{
    "db_name":"*****************************",
    "host":"*****************************",
    "driver_name":"*****************************",
    "user_name":"*****************************",
    "pass_word":"*****************************",
    "port":"*****************************",
    "iam_role": "*****************************"
  },
  "github": {
    "personal_access_token": "*****************************",
    "user_name": "*****************************"
  },
  "wordpress": {
    "user_name": "*********************************",
    "password": "*********************************",
    "xmlrpc_endpoint": "********************************"
  }
}
